---
layout: workshop      # DON'T CHANGE THIS.
root: .               # DON'T CHANGE THIS.
venue: "Biblioteksløyd beta : Universitetsbiblioteket i Oslo"
address: "Undervisningsrom UE26, Niels Henrik Abels hus, Moltke Moes vei 35, 0851 Oslo"
country: "no"
language: "nb"
latlng: "59.939673, 10.723284"
humandate: "17.–18. mars 2016"
humantime: "9:00–15:30"
startdate: 2016-03-17
enddate: 2016-03-18
instructor: ["Live Rasmussen", "Leon du Toit", "Elin Stangeland", "Live Kvale", "Kyrre T. Låberg", "Ahmed Abdi Mohammed", "Dan Michael O. Heggø", "Stian Lågstad", "Ivar H. Stangeby"]
contact: "l.h.kvale@ub.uio.no"
etherpad: http://pad.software-carpentry.org/2016-03-17-Oslo-BS
enrollment: https://nettskjema.uio.no/answer/soid.html
---
<!--
  HEADER

  Edit the values in the block above to be appropriate for your workshop.
  If the value is not 'true', 'false', 'null', or a number, please use
  double quotation marks around the value, unless specified otherwise.
  And run 'tools/check' *before* committing to make sure that changes are good.
-->

<!--
  EVENTBRITE

  This block includes the Eventbrite registration widget if
  'eventbrite' has been set in the header.  You can delete it if you
  are not using Eventbrite, or leave it in, since it will not be
  displayed if the 'eventbrite' field in the header is not set.
-->
{% if page.eventbrite %}
<iframe
  src="https://www.eventbrite.com/tickets-external?eid={{page.eventbrite}}&ref=etckt"
  frameborder="0"
  width="100%"
  height="248px"
  scrolling="auto">
</iframe>
{% endif %}

<h2 id="general">Generell informasjon</h2>

<!--
  INTRODUCTION

  Edit the general explanatory paragraph below if you want to change
  the pitch.
-->


<div style="width:300px; float:right; margin:0 0 2em 2em; background:#eee; border: 1px solid #bbb;">
  <a href="https://commons.wikimedia.org/wiki/File:PSM_V36_D810_Normal_class_at_the_free_sloyd_school.jpg">
  <img src="img/sloyd.png" alt="Sloyd" style="width:100%;">
  </a>
  <div style="width:100%;padding:3px">
  Sløyd-klasse c. 1890. Ill.: Popular Science Monthly 36, s. 790.
  </div>
</div>
<p>
  Bli med på biblioteksløyd for å bedre din digitale kompetanse!
  Biblioteksløyd er inspirert av Software Carpentry og Library Carpentry.
   Møt andre (litt) nerdete kolleger fra biblioteksektoren for å lære om begreper og dataverktøy som kan gi deg ideer til hvordan arbeidshverdagen din som bibliotekar kan bli morsommere og mer effektiv (men ikke nødvendigvis enklere).
</p>
<p>
  Jobber du med lange lister eller store regneark? XML-filer? Kanskje filer som trenger litt vasking? Har du vært borti koding/programmering, men får ikke brukt det i hverdagen på grunn av praktiske problemer? Føler du at du gjerne skulle forstått mer når din lokale IT-person henter fram kommandolinja og knaster i vei?
</p>
<p>
  I så fall er du ikke alene! Vi ser at mange bibliotekansatte er nysgjerrige på teknologi, men ikke får satt av tiden som trengs for å utforske – sett av disse to dagene til å lære mer og styrke din indre nerd.
</p>

<!--
  
  <a href="{{site.swc_site}}">Software Carpentry</a>'s mission
  is to help scientists and engineers get more research done in less
  time and with less pain by teaching them basic lab skills for
  scientific computing.  This hands-on workshop will cover basic
  concepts and tools, including program design, version control, data
  management, and task automation.  Participants will be encouraged to
  help one another and to apply what they have learned to their own
  research problems.-->
</p>
<!--<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>-->

<!--
  AUDIENCE

  Explain who your audience is.  (In particular, tell readers if the
  workshop is only open to people from a particular institution.
-->
<p id="who">
  <strong>Målgruppe:</strong>
  Bibliotekarer og bibliotekansatte av alle slag.
  Vi forventer ingen forhåndskjennskap til verktøyene som presenteres.
</p>

<!--
  LOCATION

  This block displays the address and links to maps showing directions
  if the latitude and longitude of the workshop have been set.  You
  can use http://itouchmap.com/latlong.html to find the lat/long of an
  address.
-->
{% if page.latlng %}
<p id="where">
  <strong>Hvor:</strong>
  {{page.address}}.
  Vis i
  <a href="//www.openstreetmap.org/?mlat={{page.latlng | replace:',','&mlon='}}&zoom=16">OpenStreetMap</a>
  eller
  <a href="//maps.google.com/maps?q={{page.latlng}}">Google Maps</a>.
</p>
{% endif %}

<!--
  SPECIAL REQUIREMENTS

  Modify the block below if there are any special requirements.
-->
<p id="requirements">
  <strong>Bring:</strong> Deltakere må ta med egen laptop med litt programvare forhåndsinstallert
  (listet <a href="#setup">under</a>). Vi følger
  Software Carpentry's
  <a href="{{site.swc_site}}/conduct.html">Code of Conduct</a>.
</p>

<p id="instructors">
  <strong>Snekkermestere/kursholdere:</strong>
  {% if page.instructor %}
  {{page.instructor | join: ', ' %}}
  {% else %}
  to be announced.
  {% endif %}
</p>

<!--
  CONTACT EMAIL ADDRESS

  Display the contact email address set in the header.  If an address
  isn't set in the header, the Software Carpentry admin address is
  used.
-->
<p id="contact">
  <strong>Spørsmål</strong>:
  Kontakt
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for mer informasjon.
</p>

<!--
  registration
-->
<p id="registration">
  <strong>Påmelding</strong>:
  <s>Meld deg på <a href="{{page.enrollment}}">her</a></s>.
</p>

<hr/>

<!--
  SCHEDULE

  Show the workshop's schedule.  Edit the items and times in the table
  to match your plans.  You may also want to change 'Day 1' and 'Day
  2' to be actual dates or days of the week.
-->
<h2 id="schedule">Program</h2>

<!-- DO NOT EDIT SURVEY LINKS -->
<!--<p><em>Surveys</em></p>
<p>Please be sure to complete these surveys before and after the workshop.</p>
<p><a href='{{ site.swc_pre_survey }}{{ site.github.project_title }}'>Pre-workshop Survey</a></p>
<p><a href='{{ site.swc_post_survey }}{{ site.github.project_title }}'>Post-workshop Survey</a></p>
-->

<div class="row">
  <div class="col-md-6">
    <h3>17. mars</h3>
    <table class="table table-striped">
      <tr> <td>Ankomst</td>  <td><!--<a href='{{ site.swc_pre_survey }}{{ site.github.project_title }}'>Pre-workshop Survey</a>--></td> </tr>
      <tr> <td>09:00</td>  <td><em>Intro til biblioteksløyd</em> (Live, Tracy?)</td> </tr>
      <tr> <td>09:30</td>  <td><em>Software and data curation, version control, Git and GitHub</em> (Leon)</td> </tr>
      <tr> <td>10:15</td>  <td>Kaffe</td> </tr>
      <tr> <td>10:25</td>  <td><em>Software and data curation, version control, Git and GitHub</em> cont. (Leon)</td> </tr>
      <tr> <td>11:30</td>  <td><em>Jargon busting</em> (Alle)</td> </tr>
      <tr> <td>12:00</td>  <td>Lunsj + valgfri trappetrening<br>
        <small>Sted: «Utsikten», øverste etasje i samme bygg</small>
      </td> </tr>
      <tr> <td>12:45</td>  <td><em>Jargon busting</em> (Alle)</td> </tr>

      <tr> <td>13:15</td>  <td><em>API-er - kilder til data</em> (Kyrre) ?</td> </tr>

      <tr> <td>13:30</td>  <td><em>Navigating and manipulating plain text files (including data formats like xml, json)
      using Sublime Text</em> (DM)</td> </tr>
      <tr> <td>14:15</td>  <td>Kaffe</td> </tr>
      <tr> <td>14:30</td>  <td><em>Regular expressions</em> (DM)</td> </tr>
      <tr> <td>15:30</td>  <td>Slutt</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>18. mars</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Kaffe</td> </tr>
      <tr> <td>09:15</td>  <td><em>(Over)leve på Windows: Kommandolinja, WinSCP, Putty</em> (Stian)</td> </tr>
      <tr> <td>10:15</td>  <td>Kaffe</td> </tr>
      <tr> <td>10:30</td>  <td><em>Praktisk oppgave med kloning fra GitHub, redigering, kjøring, osv.</em>
       (Mari, DM)</td> </tr>
      <tr> <td>12:00</td>  <td>
        Lunsj + valgfri trappetrening<br>
        <small>Sted: «Utsikten», øverste etasje i samme bygg</small>
        </td> </tr>
      <tr> <td>12:45</td>  <td><em>OpenRefine</em> (Ahmed)</td> </tr>
      <tr> <td>13:45</td>  <td>To bolker:
        <ul>
          <li><em>Oppgavelab</em></li>
          <li><em>Finne frem i XML-filer med XPath/XQuery?</em></li>
        </ul>
      </td> </tr>
      <tr> <td>15:00</td>  <td>Slutt<!--<a href='{{ site.swc_post_survey }}{{ site.github.project_title }}'>Post-workshop Survey</a>--></td> </tr>
    </table>
  </div>
</div>

<!--
  ETHERPAD

  At `_misc/etherpad.txt` you will find a template for the etherpad.

  Display the Etherpad for the workshop.  You can set this up in
  advance or on the first day; either way, make sure you push changes
  to GitHub after you have its URL.  To create an Etherpad, go to

      http://pad.software-carpentry.org/YYYY-MM-DD-site

  where 'YYYY-MM-DD-site' is the identifier for your workshop,
  e.g., '2015-06-10-esu'.
-->
{% if page.etherpad %}
<p id="etherpad">
  <strong>Etherpad:</strong> <a href="{{page.etherpad}}">{{page.etherpad}}</a>.
  <br/>
  We will use this Etherpad for chatting, taking notes, and sharing URLs and bits of code.
</p>
{% endif %}

<hr/>

<!--
  SYLLABUS

  Show what topics will be covered.

  1. If your workshop is R rather than Python, remove the comment
     around that section and put a comment around the Python section.
  2. Some workshops will delete SQL.
  3. Please make sure the list of topics is synchronized with what you
     intend to teach.
  4. You may need to move the div's with class="col-md-6" around inside
     the div's with class="row" to balance the multi-column layout.

  This is one of the places where people frequently make mistakes, so
  please preview your site before committing, and make sure to run
  'tools/check' as well.
-->

<h2 id="praktisk">Praktisk</h2>

<ul>
  <li>
    Wifi:
    <ul>
      <li>
        Kommer du fra et høyskole- eller universitetsbibliotek
        har du sannsynligvis <a href="https://www.uio.no/english/services/it/network/wireless/help/eduroam/">Eduroam</a>. Den enkleste måten å sette opp Edoroam på er å laste ned en profil
        fra <a href="https://eduroam.no/connect/">https://eduroam.no/connect/</a>.
      </li>
      <li>
        Hvis du ikke kommer fra en eduroam-institusjon kan du bruke
        <a href="https://www.uio.no/english/services/it/network/wireless/help/uioguest.html">uioguest</a>-nettet.
        Etter du har koblet til dette åpner du et nettleservindu og følger instruksjonene
        (du blir bedt om å oppgi et mobilnummer).
      </li>
    </ul>

  </li>
</ul>


<hr/>

<!--
  SETUP

  Delete irrelevant sections from the setup instructions.  Each
  section is inside a 'div' without any classes to make the beginning
  and end easier to find.

  This is the other place where people frequently make mistakes, so
  please preview your site before committing, and make sure to run
  'tools/check' as well.
-->

<h2 id="setup">Forberedelser / pakkeliste</h2>

<h3>Ta med</h3>

<ul>
  <li>
    <strong>Laptop</strong>. Helst en du har adminrettigheter til.
    <ul>
      <li>
        Vi kommer til å demonstrere på Windows, men alle de viktigste verktøyene
        vi bruker kjører like godt på Mac og Linux. Hvis du bruker Mac eller Linux
        må du imidlertid være forberedt på å måtte være litt mer selvhjulpen.
      </li>
      <li>
        Hvis du kun har stasjonær kontorpc, ikke laptop, kan du låne en maskin
        fra oss som du kan bruke for Remote Desktop til kontor-pcen.
      </li>
    </ul>
  </li>
</ul>

<h3>Forberedelser</h3>

<ul>
  <li>Registrer deg på <a href="https://github.com/">https://github.com/</a> på forhånd.</li>
  <li>Installer programvaren under på forhånd. Ta kontakt om du støter på problemer.</li>
</ul>

<h4 id="setup-git">Git og Bash-shell</h4>

 <div class="row">
    <div class="col-md-4">
      <strong id="shell-windows">Windows</strong>
      <ol>
        <li>Download the Git for Windows <a href="https://git-for-windows.github.io/">installer</a>.</li>
        <li>Run the installer and follow the steps bellow:
          <ol>
            <!-- Git 2.6.1 Setup -->
            <!-- Welcome to the Git Setup Wizard -->
            <li>Click on "Next".</li>
            <!-- Information -->
            <li>Click on "Next".</li>
            <!-- Select Destination Location -->
            <li>Click on "Next".</li>
            <!-- Select Components -->
            <li>Click on "Next".</li>
            <!-- Select Start Menu Folder -->
            <li>Click on "Next".</li>
            <!-- Adjusting your PATH environment -->
            <li>
              <strong>
                Select "Use Git from the Windows Command Prompt" and click on "Next".
              </strong>
                If you forgot to do this programs that you need for the workshop will not work properly.
                If this happens rerun the installer and select the appropriate option.
            </li>
            <!-- Configuring the line ending conversions -->
            <li>
              Click on "Next".
              <strong>
                Keep "Checkout Windows-style, commit Unix-style line endings" selected.
              </strong>
            </li>
            <!-- Configuring the terminal emulator to use with Git Bash -->
            <li>
              <strong>
                Select "Use Windows' default console window" and click on "Next".
              </strong>
            </li>
            <!-- Configuring experimental performance tweaks -->
            <li>Click on "Next".</li>
            <!-- Installing -->
            <!-- Completing the Git Setup Wizard -->
            <li>Click on "Finish".</li>
          </ol>
        </li>
      </ol>
      <p>This will provide you with both Git and Bash in the Git Bash program.</p>
    </div>
    <div class="col-md-4">
      <strong id="shell-macosx">Mac OS X</strong>
      <p>
        The default shell in all versions of Mac OS X is Bash, so no
        need to install anything.  You access Bash from the Terminal
        (found in
        <code>/Applications/Utilities</code>). You may want to keep
        Terminal in your dock for this workshop.
      </p>

        <ul>
          <li>
            <strong>For OS X 10.9 and higher</strong>, install Git for Mac
        by downloading and running the most recent "mavericks" installer from
        <a href="http://sourceforge.net/projects/git-osx-installer/files/">this list</a>.
        After installing Git, there will not be anything in your <code>/Applications</code> folder,
        as Git is a command line program.
        <strong>For older versions of OS X (10.5-10.8)</strong> use the
        most recent available installer labelled "snow-leopard"
        <a href="http://sourceforge.net/projects/git-osx-installer/files/">available here</a>.

          </li>
          <li>
            Hvis du ikke er redd for Terminalen anbefaler vi <a href="http://brew.sh/">Homebrew</a>.
            Når du har installert Homebrew kan du kjøre <code>brew install git</code> i Terminal for å installere Git.
          </li>
        </ul>

    </div>
    <div class="col-md-4">
      <strong id="shell-linux">Linux</strong>
      <p>
        The default shell is usually Bash, but if your
        machine is set up differently you can run it by opening a
        terminal and typing <code>bash</code>.  There is no need to
        install anything.
      </p>
    </div>
</div> <!-- End of 'shell' section. -->

<h4 id="setup-githubdesktop">GitHub Desktop</h4>

<ul>
  <li>
    Last ned og kjør installeringsprogrammet fra
    <a href="https://desktop.github.com/">desktop.github.com</a>.
  </li>
</ul>

<h4 id="setup-openrefine">OpenRefine</h4>

<ul>
  <li>
    Følg instruksjonene for hhv. "Windows kit", "Mac kit" eller "Linux kit"
    under <strong>OpenRefine 2.6</strong> på
    <a href="http://openrefine.org/download.html">openrefine.org/download.html</a>.
    <ul>
      <li>
        <em>Java</em>: Java Runtime Environment (JRE) må installeres hvis du ikke allerede har det på maskinen.
            Hvis du er tilknyttet UiO laster du ned JRE fra
            <a href="https://sccm-internet.uio.no/">Software Center</a>. Ellers kan du laste ned JRE fra
            <a href="http://www.oracle.com/technetwork/java/javase/downloads/jre8-downloads-2133155.html">denne siden</a>
            (Velg "jre-8u74-windows-x64.exe").
      </li>
      <li>
        <em>Nettleser</em>: OpenRefine anbefaler Chrome eller Firefox som nettleser ved bruken av programmet. 
            IE (internet explorer) er ikke anbefalt.
      </li>
      <li>
        <em>Tips</em>: OpenRefine kjøres direkte uten installasjon,
        og krever derfor ikke adminrettigheter.
      </li>
    </ul>
  </li>
</ul>

<h4 id="setup-sublime">Sublime Text</h4>

<ul>
  <li>
    Last ned og installer Sublime Text 3 beta fra
    <a href="https://www.sublimetext.com/3">www.sublimetext.com/3</a>.
    <ul>
      <li>
        Hvis du ikke har en veldig gammel maskin skal du ha 64 bit-utgaven.
      </li>
      <li>
        <em>Tips</em>: For Windows finnes det en «portable version». Dette er en versjon
        du kan kjøre direkte uten installasjon. Hvis du legger den på en minnepinne,
        har du programmet med deg overalt, også på maskiner du ikke har admintilgang til.
      </li>
    </ul>
  </li>
</ul>

<h4 id="setup-atom">Atom</h4>

<ul>
  <li>
    Hvis du er tilknyttet UiO laster du ned Atom fra
    <a href="https://sccm-internet.uio.no/">Software Center</a>.
  </li>
  <li>
    Hvis du ikke er tilknyttet UiO laster du ned Atom fra
    <a href="https://atom.io/">atom.io</a>.
  </li>
</ul>

<h4 id="setup-atom">Putty (kun Windows)</h4>

<ul>
  <li>
    Hvis du er tilknyttet UiO laster du ned Putty fra
    <a href="https://sccm-internet.uio.no/">Software Center</a>.
  </li>
  <li>
    Hvis du ikke er tilknyttet UiO laster du ned Putty fra
    <a href="http://www.chiark.greenend.org.uk/~sgtatham/putty/download.html">denne siden</a>.
    <ul>
      <li>
        Hvis du har adminrettigheter, last ned og kjør <code>putty-0.67-installer.msi</code>
      </li>
      <li>
        Alternativt kan <code>putty.exe</code> kjøres direkte uten adminrettigheter
        (og den er heller ikke dum å ta med seg på en minnepinne)
      </li>
    </ul>
  </li>
</ul>

<h4 id="setup-winscp">WinSCP (kun Windows)</h4>

<ul>
  <li>
    Hvis du er tilknyttet UiO laster du ned WinSCP 5.7.5 fra
    <a href="https://sccm-internet.uio.no/">Software Center</a>.
  </li>
  <li>
    Hvis du ikke er tilknyttet UiO laster du ned WinSCP 5.7.7
    fra <a href="https://winscp.net/eng/download.php">denne siden</a>.
    <ul>
      <li>
        Hvis du har adminrettigheter, last ned og kjør <code>Installation package</code>
      </li>
      <li>
        Alternativt kan <code>Portable executables</code> kjøres direkte uten adminrettigheter
        (og den er heller ikke dum å ta med seg på en minnepinne)
      </li>
    </ul>
  </li>
</ul>


<h4 id="setup-atom">Python</h4>

<p>
  Vi skal ikke lære å skrive Python-kode selv, men vi kommer til å bruke et Python-script
i en av øvelsene.<br>Du <em>må</em> derfor ikke installere Python, men du får litt gratis moro om du gjør det.
</p>

<ul>
  <li>
    Hvis du er tilknyttet UiO (og ikke har Python installert fra før)
    laster du ned Python 3.5.0 (x64) fra
    <a href="https://sccm-internet.uio.no/">Software Center</a>.
  </li>
  <li>
    Hvis du ikke er tilknyttet UiO laster du ned og installerer Python 3.5.1 fra
    <a href="https://www.python.org/downloads/">python.org</a>.
    <ul>
      <li>Kryss av for "Add Python 3.5 to PATH" før du trykker "Install now"</li>
    </ul>
  </li>
  <li>
    Det finnes flere distribusjoner som i tillegg til Python inneholder mye annet lurt.
    Et eksempel er Anaconda, som brukes i Software Carpentry.
    Den er (veldig) overkill for vårt bruk, men kan være verdt å se på om du er interessert
    i å lære deg Python og data science.
  </li>
</ul>



